body{
    background: blue no-repeat right bottom;
}

#acceuil{
    width: 45vw;
    height: 90vh;
    display: block;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size: contain;
    margin : 0 auto;
}

#Logo {
    position: absolute;
    width : 60%;
    height: 40%;
    top: 10%;
    right: 20%;
    background: white;
}

#Start{
    position: absolute;
    width : 50%;
    height: 13%;
    text-align: center; 
    top: 57%;
    right: 25%;
}

#StartBut{
    width : 100%;
    height: 100%;
    font-size: 55px;
}